
.c-img {
    width: 100vw;
    object-fit: contain;
}

button {
    border-style: none;
    cursor: pointer;
}

.legend{
    background-color: #4E5F90 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carousel-content img{
    object-fit: cover;
    width: 1440px;
    height: 420px;
}


@media only screen and (max-width: 600px) {
    .carousel-content img{
        object-fit: cover;
        width: 1440px;
        height: 200px;
    }
}