.welcome-container {
    margin: 15px;
    font-family: 'Rubik';
    font-weight: 500;
}
.sub-container {
    display: flex;
    margin: auto 15vw;
}
.sub-container img {
    margin: 0px 20px;
    object-fit: contain;
    width: 400px;
}
.welcome-header {
    color: #3D4C7A;
    margin-bottom: 10px;
    font-size: 27.4px;
}
.welcome-para {
    font-size: 16.5px;
    color: #726E6E;
    line-height: 1.1;
}

.welcome-container button {
    border-style: none;
    border-radius: 8px;
    background-color: #F35555;
    color: #EEEBEB;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
.welcome-container {
    margin: 15px;
    font-family: 'Rubik';
    font-weight: 500;
}
.welcome-header {
    color: #3D4C7A;
    margin-bottom: 10px;
    font-size: 27.4px;
}
.welcome-para {
    font-size: 16.5px;
    color: #726E6E;
    line-height: 1.1;
}

.welcome-container button {
    border-style: none;
    border-radius: 8px;
    background-color: #F35555;
    color: #EEEBEB;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
}
}