.board-member {
    background-color: rgba(190, 195, 219, 0.274);
    padding: 20px 0px;
    margin: 10px 0px;
    border-radius: 6px;
}
.board-member #header{
    text-transform: capitalize;
    color: #3D4C7A;
    font-size: 34px;
}

.board-member #sub-header {
    color: #3D4C7A;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.board-member .member-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    
    .board-member .member-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}