.always-nav-container {
    display: none;
}

@media only screen and (max-width: 600px) {
    .always-nav-container {
        display: block;
        border-top: 1px solid rgb(238, 236, 236);
        width: 100vw;
        color: rgb(245, 243, 243);
        background-color: #4E5F90;
        position: sticky;
        bottom: 0;
        left: 0;
    }
    
    .footer-nav {
        display: flex;
        justify-content: space-around;
        height: 6vh;
    }
    
    .footer-nav h4{
        margin-top: 5px;
        font-size: 30px;
    }
    
}