.header {
    margin: 30px 30px;
    padding-bottom: 10px;
    color: #3D4D7A;
    border-bottom: 2px solid #9CAFE2;
}

.what-we-do-container {
    display: flex;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .what-we-do-container {
        display: block;
        margin: 0px;
    }
}